In [1]:
a = ["supernova", "binary stars", "quasars", "cepheid variables", "black holes", "moon", "pluto", "universe"]

In [2]:
a

['supernova',
 'binary stars',
 'quasars',
 'cepheid variables',
 'black holes',
 'moon',
 'pluto',
 'universe']

In [3]:
a[0], a[5]

('supernova', 'moon')

In [4]:
a[0:3]

['supernova', 'binary stars', 'quasars']

In [5]:
a

['supernova',
 'binary stars',
 'quasars',
 'cepheid variables',
 'black holes',
 'moon',
 'pluto',
 'universe']

In [6]:
a[1:3]

['binary stars', 'quasars']

In [7]:
a[0:3:1]

['supernova', 'binary stars', 'quasars']

In [8]:
a[:6:1]

['supernova',
 'binary stars',
 'quasars',
 'cepheid variables',
 'black holes',
 'moon']

In [9]:
a[:6:2]

['supernova', 'quasars', 'black holes']

In [10]:
a[-1]

'universe'

In [11]:
a[1:-1]

['binary stars',
 'quasars',
 'cepheid variables',
 'black holes',
 'moon',
 'pluto']

In [12]:
a[::-1]

['universe',
 'pluto',
 'moon',
 'black holes',
 'cepheid variables',
 'quasars',
 'binary stars',
 'supernova']

In [13]:
v = set([])

In [14]:
v

set()

In [15]:
v.add("matt")
v.add("jeazy")
v.add("rey")
v.add("luke")
v.add("obi-wan")
v.add("ahsoka")

In [16]:
v

{'ahsoka', 'jeazy', 'luke', 'matt', 'obi-wan', 'rey'}

In [17]:
d = set(["luke", "obi-wan", "chewie"])

In [18]:
d

{'chewie', 'luke', 'obi-wan'}

In [19]:
v

{'ahsoka', 'jeazy', 'luke', 'matt', 'obi-wan', 'rey'}

In [20]:
v - d

{'ahsoka', 'jeazy', 'matt', 'rey'}

In [21]:
v.union(d)

{'ahsoka', 'chewie', 'jeazy', 'luke', 'matt', 'obi-wan', 'rey'}

In [22]:
v.intersection(d)

{'luke', 'obi-wan'}

In [23]:
v.difference(d)

{'ahsoka', 'jeazy', 'matt', 'rey'}

In [24]:
v.update(d)

In [25]:
v

{'ahsoka', 'chewie', 'jeazy', 'luke', 'matt', 'obi-wan', 'rey'}

In [26]:
"matt" in v

True

In [27]:
v.add("matt")

In [28]:
v

{'ahsoka', 'chewie', 'jeazy', 'luke', 'matt', 'obi-wan', 'rey'}

In [29]:
mapping = {}

In [30]:
mapping["hi"]

KeyError: 'hi'

In [31]:
mapping["hi"] = "some word"

In [32]:
mapping["hi"]

'some word'

In [33]:
characteristics = {}
characteristics["height"] = 10
characteristics["width"] = 20
characteristics["color"] = "purple"

In [34]:
characteristics["height"]

10

In [35]:
characters = {
    'book one': ["harry", "hermione", "hagrid"],
    'book two': ["harry", "hermione", "hagrid", "basilisk"],
    'book seven': ["harry", "hermione", "hagrid", "voldemort"]
}

In [36]:
characters['book one']

['harry', 'hermione', 'hagrid']

In [37]:
characters['book one'].append("ron")

In [38]:
characters['book one']

['harry', 'hermione', 'hagrid', 'ron']

In [39]:
my_list = ["harry", "hermione", "ron", "vader", "bumblebee"]

In [40]:
my_list.append("sauron")

In [41]:
my_list

['harry', 'hermione', 'ron', 'vader', 'bumblebee', 'sauron']

In [42]:
my_list.extend(["neo", "trinity"])
my_list

['harry', 'hermione', 'ron', 'vader', 'bumblebee', 'sauron', 'neo', 'trinity']

In [43]:
my_list.index("ron")

2

In [44]:
del my_list[2]
my_list

['harry', 'hermione', 'vader', 'bumblebee', 'sauron', 'neo', 'trinity']

In [45]:
for book in characters:
    print(book)

book one
book two
book seven

In [46]:
for c in characters['book one']:
    print(c)

harry
hermione
hagrid
ron

In [47]:
all_characters = set([])
for book in characters:
    all_characters.update( characters[book] )
all_characters

{'basilisk', 'hagrid', 'harry', 'hermione', 'ron', 'voldemort'}

In [48]:
quote = "hi i'm harry potter and i am a wizard"

In [49]:
set(quote)

{' ',
 "'",
 'a',
 'd',
 'e',
 'h',
 'i',
 'm',
 'n',
 'o',
 'p',
 'r',
 't',
 'w',
 'y',
 'z'}

In [50]:
from collections import Counter

In [51]:
Counter(quote)

Counter({' ': 8,
         "'": 1,
         'a': 5,
         'd': 2,
         'e': 1,
         'h': 2,
         'i': 4,
         'm': 2,
         'n': 1,
         'o': 1,
         'p': 1,
         'r': 4,
         't': 2,
         'w': 1,
         'y': 1,
         'z': 1})

In [52]:
qs = set(quote)

In [53]:
qs[:10]

TypeError: 'set' object is not subscriptable

In [54]:
qs

{' ',
 "'",
 'a',
 'd',
 'e',
 'h',
 'i',
 'm',
 'n',
 'o',
 'p',
 'r',
 't',
 'w',
 'y',
 'z'}

In [55]:
del qs

In [56]:
qs

NameError: name 'qs' is not defined

In [57]:
characters.keys()

dict_keys(['book one', 'book two', 'book seven'])

In [58]:
del characters['book seven']
characters

{'book one': ['harry', 'hermione', 'hagrid', 'ron'],
 'book two': ['harry', 'hermione', 'hagrid', 'basilisk']}

In [59]:
characters[8] = 1.5
characters

{8: 1.5,
 'book one': ['harry', 'hermione', 'hagrid', 'ron'],
 'book two': ['harry', 'hermione', 'hagrid', 'basilisk']}

In [60]:
characters[ [1,2,3,4] ] = 5

TypeError: unhashable type: 'list'

In [61]:
characters[ ("this", "is", "a", "tuple")] = 1.0

In [62]:
characters[ ("this", "is", "a", [1, 2, 3])] = 15

TypeError: unhashable type: 'list'